.landing {
    margin-left: auto;
    margin-right: auto;
}

.header-image {
    height: 350px;
    background-image: url("../../images/food.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    margin-bottom: 50px;
}

.images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}


.image-captions { 
    font-family: 'Bitter', serif;
    text-align: center;
    color: #048E00;
}

.explain {
    margin: 60px;
    text-align: center;
    font-size: 25px;
    color: #048E00;
}