@media only screen and (max-width: 114.5rem) {
  .module-container {
    width: 100%;
    max-width: 114.5rem;
  }
  .module {
    border-radius: 0.3125rem;
    border-style: solid;
    border-width: 0.0625rem;
    border-color: #c7c7c7;
    background-color: #F2F2F2;
    margin-top: 1.5625rem;
    width: 30%;
    min-width: 21.875rem;
    height:  46.875rem;
    position: relative;
  }
}

@media only screen and (max-width: 67rem) {

  .module-container {
    width: 21.875rem;
  }

  .images {
    display: inline-block;
    width: 15.625rem;
    max-width: 15.625rem;
    margin-top: -1.875rem;
    margin-left: auto;
    margin-right: auto;
  }

  .individual-images img {
    display: none;
  }

  .individual-images {
    width: 15.625rem;
    height: 3.125rem;
  }

}

@media only screen and (max-width: 40.625rem) {

  .login {
    position: relative;
    top: 9.375rem;
  }

  .planner-recipe-display {
    display: block;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .planner-popup-section {
    width: 100%;
  }


}

.App {
  margin: 0;
  text-align: center;
}

.landing {
  margin-left: auto;
  margin-right: auto;
}

.header-image {
  height: 21.875rem;
  background-image: url("./images/food.png");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  margin-bottom: 3.125rem;
}

.images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 56.25rem;
  margin-left: auto;
  margin-right: auto;
}

.image-captions { 
  font-family: 'Bitter', serif;
  text-align: center;
  color: #048E00;
}

.explain {
  margin: 3.75rem;
  border: none;
  text-align: center;
  font-size: 1.5625rem;
  color: #048E00;
}

p {
  margin: 0;
  padding:  0.3125rem;
}

.module-container {
  margin-top: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 68.75rem;
}

.module {
  border-radius:  0.3125rem;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: #c7c7c7;
  background-color: #F2F2F2;
  margin-top: 1.5625rem;
  width: 30%;
  min-width: 21.875rem;
  height:  46.875rem;
  position: relative;
}

.module-title {
  
  border-radius:  0.3125rem  0.3125rem 0  0 ;
  text-align: center;
  margin: 0;
  padding-top: 0.75rem;
  height:  1.75rem;
  color: white;
  background-color: #048E00;
  width: 100%;
  
}

.module-title-secondary {
  text-align: center;
  margin: 0;
  padding-top: 0.75rem;
  height:  1.75rem;
  color: white;
  background-color: #06C100;
  width: 100%;
}

.module-title-secondary-dark {
  margin: 0;
  padding-top: 0.75rem;
  height:  1.75rem;
  color: white;
  background-color: #048E00;
  width: 100%;
}

.module-content {
  padding: 0.625rem;
  overflow-y: auto;
  max-height: 40.4375rem;
}

.button {
  border-radius: 1.5625rem;
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: #06C100;
  color: #ffffff;
  font-size: 1rem;
  height:  1.75rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button:hover,
.button:focus {
  color: #048E00;
}

#modal-button {
  font-size: 1rem;
  width: 10rem;
  height: 1.875rem;
  padding:  0.3125rem;
  margin:  0.3125rem;
}

#add-button {
  padding: 0;
  height:  1.75rem;
  font-size: 2.1875rem;
  position: absolute;
  right: 0.625rem;
  top: 2.5rem;
}

#add-food-button {
  background-color: #048E00;
  padding: 0;
  float: right;
  font-size: 2.1875rem;
  margin-top: -.75rem;
  margin-right: 0.625rem;
}

#add-food-button:hover {
  color: #06F100;
}

.arrow {
  font-weight: bold;
  border-radius: 1.5625rem;
  display: inline-block;
  border: none;
  padding: 0;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  text-decoration: none;
  background: #06C100;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.arrow:hover,
.arrow:focus {
  color: #048E00;
}

.modal {
  background: white;
  width: 100%;
}

.modal-content {
  display: block;
  color: black;
  padding: 1.875rem;
  max-height: 31.25rem;
  max-width: 49rem;
  overflow-y: auto;
}

input {
  background: #F2F2F2;
  border-radius: 1.5625rem;
  margin: 0.1875rem;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: #c7c7c7;
  padding-left: 0.625rem;
  height: 1.5625rem;
}

.calendar {
  margin-left: auto;
  margin-right: auto;
  background: white;
}

#form {
  max-height: 31.25rem;
  overflow-y: auto;
}

.loading {
  text-align: center;
  color: #06C100;
  height: 80vh;
  padding-top: 40vh;
}

.recipe-item-list-button {
  border: none;
  border-bottom: 1px solid #c7c7c7;
  background: none;
  width: 100%;
  padding: .5rem 0 .5rem .5rem;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
}


.recipe-modal {
  width:100%;
  text-align: center;
}

.ingredients-modal {
  overflow: hidden; 
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ingredients-list-modal {
  float: left;
  width: 10rem;
}

.amounts-list-modal {
  float: right;
  width: 10rem;
}

.planner-popup {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.planner-recipe-display {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.planner-popup-section {
  width: 23%;
  min-width: 5rem;
}

.planner-popup-recipe-list {
  border: 1px solid #c7c7c7;
  border-bottom: none;
}

.planner-popup-recipe-list button:hover {
  border: 1px solid #c7c7c7;
  border-bottom: none;
  background-color: #06C100;
  color: white;
}

footer {
  color: #048E00;
  width: 100%;
  margin-bottom: 0;
  margin-top: 1.875rem;
}

.footer-content {
  border-top: 0.0625rem solid #048E00;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0.9375rem;
  padding: 0.9375rem;
  max-width: 62.5rem;
}
